h1,h2,h3,h4,h5,h6{
  font-family:"Verdana",sans-serif;
  font-weight: bold;
}
h2{
  text-align: center;
  text-decoration: underline;
}

p{
  padding: 14px;
}
body{
  font-family: "Georgia",serif;
  margin: 0;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

li a{
  display: block;
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  color: white;
}

li a:hover{
  background-color: white;
color: black;
}

.column{
  background-color: navy;
  flex: 33.33%;
}

.row{
  display: flex;
  flex: 3;
}

header{
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  height: 150px;
  background-color: navy;
}

#romulans{
  background-color: #006622;
  opacity: 0.8;
}

#q{
  background-color:#cc0000;
  opacity: 0.8;
}

#borg{
  background-color:#3d3d29;
  opacity: 0.8;
}

section{
  display:flex;
  color: white;
  background-color: black;
}

  

nav {
  background-color: blue;
  text-decoration: bold;
  font-weight: bold;
  flex: 0.75;
}

article{
  flex:3
}
.active-page{
  background-color: #00004d;
}
footer{
  display: flex;
  background-color: #00004d;
  color: white;
  justify-content: space-between;
  font-style: italic;
  padding: 0 20px;
}

footer a{
  text-decoration: none;
}

#logo{
  position: absolute;
  left: 10px;
  top: 0px;
  height: 150px;
}

.memepics{
}

table{
  border: 2px solid white;
  padding: 10px;
}

#Sources caption{
  font-weight: bold;
  font-size: 20px;
}

#Sources th{
padding: 12px 12px;
text-align: left;
background-color: black;
}    

#Sources td{
  padding:4px;
}
#Sources tr:hover{
     background-color: navy;
   }
iframe{
  frameborder=0;
overflow:hidden;
  width=300px;
  height=400px;
}
.memepics img{
width: 45%;
padding: 10px;
}
